@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: rgb(226, 226, 226);
  color: rgb(22, 22, 22);
}

::-moz-selection {
  background-color: rgb(226, 226, 226);
  color: rgb(22, 22, 22);
}

body {
  font-family: "Montserrat", sans-serif;
}

.heading {
  font-family: "Archivo Black", sans-serif;
}

.navbar a.active p {
  color: #cfc4b5 !important;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.mobile-navbar a.active p {
  color: rgb(226, 226, 226) !important;
  font-weight: 700;
}
